.search-bar {
    border: 1px solid #cecece;
    height: 65px;
    margin-bottom: 3px;
    padding: 10px;
}

.cars {
    border: 1px solid #cecece;
    background: #fff;
    float: left;
    height: 240px;
    margin-right: 5px;
    padding: 5px;
    width: 220px;
}

.cars h2 {
    margin-top: 0;
}

.all-cars .search {
    margin-bottom: 10px;
    margin-right: 10px;
    float: left;
}

.all-cars .price label {
    display: inline;
}

.price-slider {
    width: 250px;
    float: left;
}

.price-slider .left {
    float: left;
}

.price-slider .right {
    float: right;
}